<!DOCTYPE html>
<html>
<head>
	<title>TODO LIST</title>
</head>
<body>
<h1>Lista de tareas de: <%= session[:owner] %></h1>
<form name="createTask" action="/create_task" method="post">
  <label for="task">Tarea:</label>
   <input type="text" name="task" placeholder="Texto de la tarea" required>   
   <input type="submit" value="Crear tarea">
</form>
</body>
</html>