<!DOCTYPE html>
<html>
<head>
	<title>LOGIN APP</title>
</head>
<body>
<h1>Estás dentro!!!</h1>
<form name="logout" action="logout" method="post">   
   <input type="submit" value="Logout">
</form>
</body>
</html>